body{
    font-family: Verdana,
    Geneva, Tahoma, sans-serif;
}

#nav-bar{ position: sticky;
     top: 0;
     z-index: 10;
    }
.navbar{
    background: #2a3237;
    z-index: 100;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-nav li .sign_up{
    width: 80px;
    height: 40px;
    background: #00a8ff;
}

#banner{height: 500px;
    background: #2a3237;
    padding-top: 5%;
}
#banner p{
    color: #fff;
    font-size: 28px;
}
#banner h1{
    color: #fff !important;
    font-weight: 600;
    font-size: 60px;
}

#intro .card-body{
    position: absolute;
    color: #fff;
}
#intro .card-text{
    font-size: 30px;
    font-weight: bold;
}
#intro table td{
    color: #fff;
    font-weight: bold;
}
#intro .row{
    position: relative;
    top: -50px;}
#intro .card{
    border-radius: 0;
}
#services h1{
    font-weight: 600;
    font-size: 60px;
}
#services .para{
    font-weight: 300;
    font-size: 30px;
}
#services img{
    width: 40px;
    position: relative;
    top: -20px; z-index: 1;
    background: #fff;
    margin: auto;
}
#services .card{
    border-radius: 0;
}

#team h1{
    font-weight: 600;
    font-size: 60px;
}
#team .para{
    font-weight: 300;
    font-size: 30px;
}
#team .btn{ 
    font-size: 18px;
    width: 150px; 
    padding: 10px;
    color: #00a8ff;
    border: 2px solid #00a8ff;
border-radius: 0;
 margin: auto;
}
#team .btn:hover{ 
    color: #fff;
     background: #00a8ff;
    }
#team .card{ 
    border-radius: 0;
}
#team .card-body img{ 
    width: 120px; 
    height: 120px;
     border-radius: 50%; 
     position: relative;
      top: -60px; 
      z-index: 1;}

#pricing{ 
    height: 600px; background: url("images/pricing1.jpg"); 
    background-size: cover;
}
#pricing .card{
     color: #fff;
      background: #00a8ff;
      
}

#pricing .btn{ 
    font-size: 18px;
    width: 150px; 
    padding: 10px; 
    color: #fff; 
    border: 2px solid #fff;
    border-radius: 0;
     background: #00a8ff;
    
}
#pricing h1{ 
    font-weight: 600; font-size: 60px; color: #fff;
}
#pricing .para{
     font-weight: 300; font-size: 30px; color: #fff;
}
#pricing .card1{
     color: #fff;
     background: #414243;
     margin:80px;
     width: 80%;
}

#pricing .btn1{ 
    font-size: 18px;
    width: 150px; 
    padding: 10px; 
    color: #fff;
     border: 2px solid #fff;
    border-radius: 0; 
    background: #525353;
    right: 23px;
}
#pricing h1{ font-weight: 600;
    font-size: 60px;
    color: #fff;
}
#pricing .para{ 
    font-weight: 300; 
    font-size: 30px; 
    color: #fff;
}

#bleu{ height: 300px;
     color: #fff;
      background: #00a8ff;
    }
#bleu i{
     font-size: 30px;
    }

#sign_up{
     background: #2a3237; 
     color: #fff;
    }
#sign_up .btn{ 
    font-size: 18px;
    width: 150px;
     padding: 10px; 
     color: #fff;
    border-radius: 0;
    background: #00a8ff;
    }

#footer{
     background: #2a3237; 
     color: #fff;
    }
#footer .container .icone{
     display: flex; 
     justify-content: center;
      align-items: center;
       gap: 15px;
    }
#footer .container .icone i{
     font-size: 25px;
    }


@media screen and (max-width:960px){
    #pricing{
        height: 1000px;
    }
}